@font-face {
    font-family: "Lexend";
    font-weight: 400;
    src: url("../../font/Lexend-Regular.ttf");
}

@font-face {
    font-family: "Lexend";
    font-weight: 700;
    src: url("../../font/Lexend-Bold.ttf");
}

@font-face {
    font-family: "Lexend";
    font-weight: 300;
    src: url("../../font/Lexend-Light.ttf");
}

@font-face {
    font-family: "Lexend";
    font-weight: 500;
    src: url("../../font/Lexend-Medium.ttf");
}

@font-face {
    font-family: "Lexend";
    font-weight: 600;
    src: url("../../font/Lexend-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: clip;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) black;
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Lexend" !important;
    background: linear-gradient(to right, #f3f7ff 0%, #f3f8fe 100%);
    overflow-x: clip;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
}

/* Content geser ke kanan */
.content-wrapper {
    margin-left: 250px;
    height: 100vh;
    overflow-y: auto;
}

.link-sidebar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 12px;
    border-radius: 6px;
    color: #212529;
    transition: all 0.3s ease;
}

.link-sidebar:hover {
    background-color: #00307a;
}

.link-sidebar:hover i,
.link-sidebar:hover a,
.link-sidebar:hover button {
    color: white !important;
}

.link-sidebar.active {
    background-color: #00307a;
    color: white !important;
}

.link-sidebar.active i,
.link-sidebar.active a,
.link-sidebar.active button {
    color: white !important;
}

.mt-auto .link-sidebar {
    padding: 12px;
}

.input-profile {
    width: 100%;
    padding: 12px 0px 12px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-profile:focus {
    border: 1px solid #00307a;
    outline: none;
    box-shadow: none;
}

.input-profile:focus::placeholder {
    transform: translateX(30px);
    opacity: 0;
    transition: all 0.4s ease;
}
